<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
<!-- 注册servlet到项目中 -->
<context-param>
			<param-name>name</param-name>
			<param-value>jerry</param-value>
		</context-param>
		<context-param>
			<param-name>password</param-name>
			<param-value>1234</param-value>
		</context-param>
	
<servlet>
<!-- servlet-name给你要注册的servlet起一个名字，随便写，不能重复。 -->
<servlet-name>Cookie3</servlet-name>
<!-- 完整类名 -->
<servlet-class>com.zhangpan.servlet.cookie.Cookie3</servlet-class>
<init-param>
<param-name>name</param-name>
<param-value>xhz</param-value>
</init-param><init-param>
<param-name>password</param-name>
<param-value>123</param-value>
</init-param>
</servlet>
<servlet>
<!-- servlet-name给你要注册的servlet起一个名字，随便写，不能重复。 -->
<servlet-name>LoginSevlet</servlet-name>
<!-- 完整类名 -->
<servlet-class>com.zhangpan.login.xhz.LoginSevlet</servlet-class>
<init-param>
<param-name>name</param-name>
<param-value>xhz</param-value>
</init-param><init-param>
<param-name>password</param-name>
<param-value>123</param-value>
</init-param>
</servlet>
<!-- 分配一个路径给servlet -->
<servlet-mapping>
<!-- 为哪个Servlet分配路径 -->
<servlet-name>LoginSevlet</servlet-name>
<!-- 当前为哪个路径 分配路径 -->
<!-- "/"这个"/"http://localhost:8080/lander-xhz/WEB-INF/demo3 -->
<url-pattern>/LoginSevlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<!-- 为哪个Servlet分配路径 -->
<servlet-name>Cookie3</servlet-name>
<!-- 当前为哪个路径 分配路径 -->
<!-- "/"这个"/"http://localhost:8080/lander-xhz/Cookie1-->
<url-pattern>/Cookie3</url-pattern>
</servlet-mapping>
 <welcome-file-list>
        <welcome-file>HelloWorld.html</welcome-file>
  </welcome-file-list>
</web-app>
